h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p {
  font-weight: lighter;
  font-family: "Libre Calson Text";
  text-align: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 64px 0;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: #555;
  margin-top: 0;
  font-size: x-large;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: content;
}

.connectButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: content;
  background-color: lightcoral;
}

.instructions {
  text-align: center;
}

div[data-testid] {
  width: fit-content !important;
  margin: auto !important;
}

.notes {
  font-size: small;
  margin-top: 16px;
  padding: 8px;
  font-weight: lighter;
  font-size: x-small;
}

.total {
  font-family: Ultra;
  margin-bottom: 0;
  color: #555;
}

.radio {
  font-size: xxx-large;
  text-align: center;
  margin-top: 20px;
}

.playIcon {
  font-size: 35px;
  vertical-align: middle;
}

.playIcon :hover {
  cursor: pointer;
}
